---
title: "SDSU COMP TOX"
layout: default
description: "SDSU Computational Toxicology"
---

{% include main-header.html %}

<!-- Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8">
            <mypage class="mypage-post">                
                The SDSU Computational Toxicology Laboratory is primarily interested in 
                developing mathematical and computational tools to understand the effects of 
                environmental pollutants on embryonic development. The lab is affiliated with the 
                Computational Science Research Center, Department of Mathematics and Statistics 
                and School of Public Health at San Diego State University.     
            </mypage>
        </div>
        <div class="col-md-4">
            {% include main-sidebar.html %}
        </div>
    </div>  
</div>

