<div class="container">
    
    <div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative">
        <div class="pl-4 pr-0 h-100 tofront">
            <div class="row justify-content-between ">
                    <div class=" col-md-6  pr-0 pr-md-4 pt-4 pb-4 align-self-center">
                        <div>
                            <img src="{{site.baseurl}}/assets/images/logo.png" alt="sdsu comp tox" class="img-fluid">
                        </div>
                    </div>
    
                    <div class="col-md-6 pr-0 align-self-center">
                        <h1 class="mb-3">
                            Welcome!
                        </h1>
                        <p class="mb-3 lead">
                            Computational Toxicology Laboratory at San Diego State University led by Dr. Uduak George and Dr. Karilyn Sant
                        </p>
                    </div>
            </div>
        </div>
    </div>
    
    </div>
    